# Dependencies
node_modules
.pnpm-store

# Build outputs
.next
dist
.turbo

# Environment files
.env
.env.local
.env.*.local

# Prisma
packages/db/prisma/migrations/*.sql

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Testing
coverage

# Terraform
infra/terraform/.terraform
infra/terraform/*.tfstate
infra/terraform/*.tfstate.backup
infra/terraform/.terraform.lock.hcl
infra/terraform/environments/**/*.tfvars.secret

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Vercel
.vercel
